
<!-- Eligibility Form -->
<!-- <h6 style="color:red;">{{this.data3}}</h6> -->
<div class="card">
        <div class="card-header">Eligibility Check</div>
        <div class="card-body">
            <!-- Eligibility check Form -->
            <form [formGroup]="checkForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="propertyValue">Property Value</label>
                            <input type="tel" formControlName="propertyValue" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.propertyValue.errors }" />
                            <div *ngIf="submitted && f.propertyValue.errors" class="invalid-feedback">
                                <div *ngIf="f.propertyValue.errors.required">Property Value is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="propertyType">Property Type</label>
                            <input type="text" formControlName="propertyType" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.propertyType.errors }" />
                            <div *ngIf="submitted && f.propertyType.errors" class="invalid-feedback">
                                <div *ngIf="f.propertyType.errors.required">Property Type is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="annualSalary">Annual Salary</label>
                            <input type="tel" formControlName="annualSalary" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.annualSalary.errors }" />
                            <div *ngIf="submitted && f.annualSalary.errors" class="invalid-feedback">
                                <div *ngIf="f.annualSalary.errors.required">Annual Salary is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="loanTenure">Loan Tenure (In Years)</label>
                            <input type="tel" formControlName="loanTenure" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.loanTenure.errors }" />
                            <div *ngIf="submitted && f.loanTenure.errors" class="invalid-feedback">
                                <div *ngIf="f.loanTenure.errors.required">Loan Tenure is required</div>
                            </div>
                            <!-- <div *ngIf="f.loanTenure.errors.max" style="color:red;">
                                 <div>Loan Tenure should be within 1 to 20 years.</div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="loanAmount">Loan Amount</label>
                            <input type="tel" formControlName="loanAmount" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.loanAmount.errors }" />
                            <div *ngIf="submitted && f.loanAmount.errors" class="invalid-feedback">
                                <div *ngIf="f.loanAmount.errors.required">Loan Amount is required</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="form-group">
                    <button [disabled]="loading" (click)="showDialog()" class="btn btn-primary">Apply</button>
                    <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/dashboard']" class="btn btn-link">Cancel</a>
                </div>
            </form>
            <!-- Eligibility check Form -->
        </div>
        <!-- <div class="card-footer">Footer</div> -->
    </div>

<!-- Dilogue Content -->
   <div class="content-section implementation">
    <p-dialog header="Confirm" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
             <div>
                 
                 Emi: {{this.data.emi}}<br/>
                 Rate Of Interest: {{this.data.rateOfInterest}}<br/>
                 Total Amount: {{this.data.totalAmount}}
            </div>
           <p-footer>
               <button type="button" pButton (click)="applyLoan()" label="Confirm"></button>
               <button type="button" pButton (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
           </p-footer>
    </p-dialog>

     <!-- <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"></button> -->
</div>

<!-- Dilogue Content -->